In [5]:
# Create a List L defined as [10, 20, 30, 40, 50, 60, 70, 80] and perform the following
# operations:
# i. Add
# 200 and 300 to L.
# ii. Remove 10 and 30 from L.
# iii. Sort L in ascending order.
# iv. Sort L in descending order.

list_1 = [10, 20, 30, 40, 50, 60, 70, 80]

print(list_1)

list_1.append(200)
list_1.append(300)
print("After inserting 200 and 300 in list: ", list_1)

list_1.remove(10)
list_1.remove(30)
print("After removing 10 and 30 from the list: ", list_1)

list_1.sort()
print("Ascending order of list is ", list_1)

list_1.sort(reverse=True)
print("Descending order of the list is ", list_1)

[10, 20, 30, 40, 50, 60, 70, 80]
After inserting 200 and 300 in list:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30 from the list:  [20, 40, 50, 60, 70, 80, 200, 300]
Ascending order of list is  [20, 40, 50, 60, 70, 80, 200, 300]
Descending order of the list is  [300, 200, 80, 70, 60, 50, 40, 20]

In [1]:
# Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
# perform the following operations:
# i. Identify the highest score and its index in the tuple.
# ii. Find the lowest score and count how many times it appears.
# iii. Reverse the tuple and return it as a list.
# iv. Check if a specific score 76 (input by the user) is present in the tuple and print
# its first occurrence index, or a message saying itâ€™s not present.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

print("Marks of the test are ", scores)

h_marks = max(scores)
index_highest = scores.index(h_marks)

print("The highest scored marks in the test are ",h_marks," and the index of highest marks is ", index_highest)

lowest_score = min(scores)
count_lowest = scores.count(lowest_score)

print("The lowest marks are ", lowest_score, " and the count of the lowest marks is ", count_lowest)

reversed_list = list(scores[::-1])

print("The reversed list of scores is:", reversed_list)

Marks of the test are  (45, 89.5, 76, 45.4, 89, 92, 58, 45)
The highest scored marks in the test are  92  and the index of highest marks is  5
The lowest marks are  45  and the count of the lowest marks is  2
The reversed list of scores is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [9]:
# Write a program to create a list of 100 random numbers between 100 and 900.
# Count and print:
# i. All odd numbers.
# ii. All even numbers.
# iii. All prime numbers.

import random
import math
random_numbers = [random.randint(100, 900) for _ in range(100)]
odds = [num for num in random_numbers if num % 2 != 0]
evens = [num for num in random_numbers if num % 2 == 0]
print("Odd Numbers:", odds)
print("Even Numbers:", evens)

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)] 

print("The Prime Numbers are ", prime_numbers)

Odd Numbers: [165, 427, 565, 417, 357, 175, 193, 219, 361, 509, 765, 177, 391, 765, 213, 313, 183, 537, 101, 107, 849, 349, 699, 597, 155, 381, 207, 805, 625, 131, 385, 221, 719, 515, 491, 339, 821, 351, 405, 113, 113, 265, 509, 177, 469, 391, 391, 661, 737]
Even Numbers: [614, 386, 630, 828, 146, 278, 284, 496, 450, 236, 608, 770, 806, 602, 312, 502, 796, 574, 422, 296, 530, 388, 306, 532, 752, 604, 516, 854, 552, 502, 156, 850, 618, 686, 700, 232, 362, 606, 574, 268, 340, 774, 652, 582, 434, 348, 248, 618, 240, 352, 694]
The Prime Numbers are  [193, 509, 313, 101, 107, 349, 131, 719, 491, 821, 113, 113, 509, 661]

In [2]:
# 4. Set Operations
# Question
# Consider the following sets representing scores of two teams:
# A = {34, 56, 78, 90} and B = {78, 45, 90, 23} . Perform the following operations:
# i. Find the unique scores achieved by both teams (union).
# ii. Identify the scores that are common to both teams (intersection).
# iii. Find the scores that are exclusive to each team (symmetric difference).
# iv. Check if the scores of team A are a subset of team B, and if team B's scores
# are a superset of team A.
# v. Remove a specific score X (input by the user) from set A if it exists. If not, print
# a message saying it is not present.


A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
union_set = A | B

intersection_set = A & B

symmetric_difference_set = A ^ B

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Symmetric Difference:", symmetric_difference_set)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)


print("Is A a subset of B:", is_subset)
print("Is B a superset of A:", is_superset)

score_to_remove = 56


if score_to_remove in A:
    A.remove(score_to_remove)
    
    print("Removed score from A")
else:
    print("Score not present in A")

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
Is A a subset of B: False
Is B a superset of A: False
Removed score from A

In [12]:
# 5. Dictionary Operations
# Question
# Write a program to rename a key city to location in the following dictionary:
# data = {"city": "New York","population": 8419600,"area": 468.9}.

data = {"city": "New York", "population": 8419600, "area": 468.9}
data["location"] = data.pop("city")
print("Updated Dictionary:", data)

Updated Dictionary: {'population': 8419600, 'area': 468.9, 'location': 'New York'}